@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?iomq01');
  src:  url('fonts/icomoon.eot?iomq01#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?iomq01') format('truetype'),
    url('fonts/icomoon.woff?iomq01') format('woff'),
    url('fonts/icomoon.svg?iomq01#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location-arrow-solid:before {
  content: "\e934";
}
.icon-plane-slash-solid:before {
  content: "\e935";
}
.icon-plane-solid:before {
  content: "\e936";
}
.icon-plane-up-solid:before {
  content: "\e937";
}
.icon-tree-solid:before {
  content: "\e938";
}
.icon-wifi-solid:before {
  content: "\e939";
}
.icon-accessible-icon-brands-solid:before {
  content: "\e93a";
}
.icon-alipay-brands-solid:before {
  content: "\e93b";
}
.icon-amazon-pay-brands-solid:before {
  content: "\e93c";
}
.icon-amilia-brands-solid:before {
  content: "\e93d";
}
.icon-android-brands-solid:before {
  content: "\e93e";
}
.icon-apple-brands:before {
  content: "\e93f";
}
.icon-apple-pay-brands-solid:before {
  content: "\e940";
}
.icon-bag-shopping-solid:before {
  content: "\e941";
}
.icon-bilibili-brands-solid:before {
  content: "\e942";
}
.icon-bluesky-brands:before {
  content: "\e943";
}
.icon-bluetooth-brands-solid:before {
  content: "\e944";
}
.icon-calendar-days-regular:before {
  content: "\e945";
}
.icon-calendar-days-solid:before {
  content: "\e946";
}
.icon-calendar-regular:before {
  content: "\e947";
}
.icon-calendar-solid:before {
  content: "\e948";
}
.icon-cart-shopping-solid:before {
  content: "\e949";
}
.icon-cc-amazon-pay-brands-solid:before {
  content: "\e94a";
}
.icon-cc-paypal-brands-solid:before {
  content: "\e94b";
}
.icon-cc-visa-brands-solid:before {
  content: "\e94c";
}
.icon-clipboard-regular:before {
  content: "\e94d";
}
.icon-clipboard-solid:before {
  content: "\e94e";
}
.icon-cloud-solid:before {
  content: "\e94f";
}
.icon-codepen-brands-solid:before {
  content: "\e950";
}
.icon-coins-solid:before {
  content: "\e951";
}
.icon-comment-regular:before {
  content: "\e952";
}
.icon-copyright-regular:before {
  content: "\e953";
}
.icon-copyright-solid:before {
  content: "\e954";
}
.icon-credit-card-solid:before {
  content: "\e955";
}
.icon-deskpro-brands-solid:before {
  content: "\e956";
}
.icon-dollar-sign-solid:before {
  content: "\e957";
}
.icon-edge-legacy-brands-solid:before {
  content: "\e958";
}
.icon-envelope-regular:before {
  content: "\e959";
}
.icon-face-smile-regular:before {
  content: "\e95a";
}
.icon-figma-brands:before {
  content: "\e95b";
}
.icon-file-regular:before {
  content: "\e95c";
}
.icon-file-solid:before {
  content: "\e95d";
}
.icon-firefox-brands-solid:before {
  content: "\e95e";
}
.icon-firefox-browser-brands-solid:before {
  content: "\e95f";
}
.icon-github-brands:before {
  content: "\e960";
}
.icon-golang-brands-solid:before {
  content: "\e961";
}
.icon-google-brands:before {
  content: "\e962";
}
.icon-google-drive-brands-solid:before {
  content: "\e963";
}
.icon-google-pay-brands-solid:before {
  content: "\e964";
}
.icon-google-play-brands-solid:before {
  content: "\e965";
}
.icon-google-plus-brands-solid:before {
  content: "\e966";
}
.icon-google-plus-g-brands-solid:before {
  content: "\e967";
}
.icon-headphones-solid:before {
  content: "\e968";
}
.icon-heart-regular:before {
  content: "\e969";
}
.icon-html5-brands-solid:before {
  content: "\e96a";
}
.icon-internet-explorer-brands-solid:before {
  content: "\e96b";
}
.icon-linux-brands-solid:before {
  content: "\e96c";
}
.icon-microsoft-brands-solid:before {
  content: "\e96d";
}
.icon-node-brands-solid:before {
  content: "\e96e";
}
.icon-paypal-brands-solid:before {
  content: "\e96f";
}
.icon-python-brands-solid:before {
  content: "\e970";
}
.icon-react-brands-solid:before {
  content: "\e971";
}
.icon-sack-dollar-solid:before {
  content: "\e972";
}
.icon-square-js-brands-solid:before {
  content: "\e973";
}
.icon-square-steam-brands-solid:before {
  content: "\e974";
}
.icon-star-regular:before {
  content: "\e975";
}
.icon-steam-brands-solid:before {
  content: "\e976";
}
.icon-steam-symbol-brands-solid:before {
  content: "\e977";
}
.icon-telegram-brands-solid:before {
  content: "\e978";
}
.icon-thumbs-up-regular:before {
  content: "\e979";
}
.icon-twitch-brands-solid:before {
  content: "\e97a";
}
.icon-weibo-brands-solid:before {
  content: "\e97b";
}
.icon-wikipedia-w-brands-solid:before {
  content: "\e97c";
}
.icon-windows-brands-solid:before {
  content: "\e97d";
}
.icon-wordpress-brands-solid:before {
  content: "\e97e";
}
.icon-yen-sign-solid:before {
  content: "\e97f";
}
.icon-zhihu-brands-solid:before {
  content: "\e980";
}
.icon-bilibili-brands:before {
  content: "\e930";
}
.icon-qq-brands:before {
  content: "\e931";
}
.icon-tiktok-brands:before {
  content: "\e932";
}
.icon-weixin-brands:before {
  content: "\e933";
}
.icon-quote-left-solid:before {
  content: "\e92e";
}
.icon-quote-right-solid:before {
  content: "\e92f";
}
.icon-angle-down-solid:before {
  content: "\e917";
}
.icon-angle-left-solid:before {
  content: "\e918";
}
.icon-angle-right-solid:before {
  content: "\e919";
}
.icon-angles-down-solid:before {
  content: "\e91a";
}
.icon-angles-left-solid:before {
  content: "\e91b";
}
.icon-angles-right-solid:before {
  content: "\e91c";
}
.icon-angles-up-solid:before {
  content: "\e91d";
}
.icon-angle-up-solid:before {
  content: "\e91e";
}
.icon-facebook-brands:before {
  content: "\e91f";
}
.icon-facebook-f-brands:before {
  content: "\e920";
}
.icon-hashtag-solid:before {
  content: "\e921";
}
.icon-instagram-brands:before {
  content: "\e922";
}
.icon-linkedin-brands:before {
  content: "\e923";
}
.icon-linkedin-in-brands:before {
  content: "\e924";
}
.icon-link-solid:before {
  content: "\e925";
}
.icon-location-crosshairs-solid:before {
  content: "\e926";
}
.icon-square-instagram-brands:before {
  content: "\e927";
}
.icon-square-twitter-brands:before {
  content: "\e928";
}
.icon-square-x-twitter-brands:before {
  content: "\e929";
}
.icon-square-youtube-brands:before {
  content: "\e92a";
}
.icon-twitter-brands:before {
  content: "\e92b";
}
.icon-x-twitter-brands:before {
  content: "\e92c";
}
.icon-youtube-brands:before {
  content: "\e92d";
}
.icon-award-solid:before {
  content: "\e900";
}
.icon-bars-solid:before {
  content: "\e901";
}
.icon-bell-solid:before {
  content: "\e902";
}
.icon-camera-solid:before {
  content: "\e903";
}
.icon-check-solid:before {
  content: "\e904";
}
.icon-circle-user-solid:before {
  content: "\e905";
}
.icon-comment-solid:before {
  content: "\e906";
}
.icon-envelope-solid:before {
  content: "\e907";
}
.icon-heart-solid:before {
  content: "\e908";
}
.icon-house-chimney-solid:before {
  content: "\e909";
}
.icon-house-solid:before {
  content: "\e90a";
}
.icon-image-solid:before {
  content: "\e90b";
}
.icon-key-solid:before {
  content: "\e90c";
}
.icon-location-dot-solid:before {
  content: "\e90d";
}
.icon-lock-solid:before {
  content: "\e90e";
}
.icon-magnifying-glass-solid:before {
  content: "\e90f";
}
.icon-music-solid:before {
  content: "\e910";
}
.icon-phone-solid:before {
  content: "\e911";
}
.icon-star-solid:before {
  content: "\e912";
}
.icon-unlock-solid:before {
  content: "\e913";
}
.icon-user-regular:before {
  content: "\e914";
}
.icon-user-solid:before {
  content: "\e915";
}
.icon-users-solid:before {
  content: "\e916";
}
