@font-face {
  font-family: 'Cat Round';
  src: url('../000-font/chinese/catround/catround.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Smile Sans';
  src: url('../000-font/chinese/smile/SmileySans-Oblique.ttf.woff2');
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: 'Pally';
  src: url('../000-font/english/pally/Pally-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}