
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  padding-bottom: 1000px;
}

header {
  padding: 10px 30px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 2;

}

.header-left {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header-left img.menu {
  width: 24px;
  height: 24px;
}
.header-left .youtube-logo {
  width: 90px;
  height: 20px;
}

.header-middle {
  display: flex;
  gap: 8px;
}
.header-middle img {
  height: 24px;
  width: 24px;
}
.header-middle .search-box {
  display: flex;
}
.search-box input {
  width: 360px;
  padding: 2px 2px 2px 12px ;
  font-size: 16px;
  outline: none;
  border-color: gray;
  border-style: solid;
  border-width: 1px 0.5px 1px 1px ;
  border-radius: 2px 0px 0px 2px ;
}

.search-box button {
  width: 64px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: gray;
  border-width: 1px 1px 1px 0.5px;
  border-radius: 0px 2px 2px 0px ;
  background-color: rgb(247,247,247);
  transition: background 0.1s;
}
.search-box button:hover {
  background-color: rgb(239,239,239);
}


.header-middle > button:first-of-type {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-right img {
  width: 24px;
  height: 24px;
  display: block;
}

.header-right a:nth-of-type(3) .notifications{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgb(204,  0,  0);
  color: white;
  position: absolute;
  top: -5%;
  right: -10%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img#my-channel {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.tooltip-container {
  position: relative;

}
.tooltip {
  opacity: 0;
  position: absolute;
  color: white;
  background-color: rgb(111,111,111);
  padding: 6px 8px;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%,100%);
  white-space: nowrap;
  pointer-events: none;
  font-size: 12px;
  border-radius: 2px;
  transition: opacity 0.15s;
  
}
.tooltip-container:hover .tooltip {
  opacity: 1;
}


/* section_sidebar---begin */

.sidebar {
  display: flex;
  flex-direction: column;
  width: 84px;
  height: 100vh;
  position: fixed;
  top: 56px;
  left: 0;
}

.sidebar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-family: 'Nunito';
  font-weight: 400;
  color: black;
  width: 100%;
  height: 75px;
  transition: background 0.2s ;
  white-space: nowrap;
}
.sidebar a:hover {
  background-color: rgb(238,238,238);
}

.sidebar a img {
  width: 24px;
  height: 24px;

}

section.chip-content {
  position: fixed;
  top: 56px;
  left: 75px;
  right: 0;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 9px;
  gap: 10px;
  z-index: 1;
}
section.chip-content a {
  padding: 0 12px;
  line-height: 2;
  background-color: rgb(242,242,242);
  color: black;
  border-radius: 8px;
  font-family: 'Robot',sans-serif;
  font-size: 14px;
  transition: background 0.2s;
}
section.chip-content a:hover {
  background-color: rgb(229,229,229);
}
section.chip-content a.current {
  background-color: black;
  color: white;
}




/* section_video---begin */

section.video {
  margin-left: 84px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  /* 在没有设置行模板的时候，默认是grid-auto-rows:auto;即自适应内容高度 */
  gap: 1.5rem;
}

.preview-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.preview-card a.thumbnail-container {
  position: relative;
}
.preview-card a.thumbnail-container > img {
  width: 100%;
  object-fit: contain;
  border-radius: 6px;
  aspect-ratio: 16/9;

}
.preview-card a.thumbnail-container > span {
  position: absolute;
  bottom: 4%;
  right: 2%;
  line-height: 18px;
  padding: 0 4px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px;
  font-size: 14px;
}

.info {
  display: flex;
  gap: 10px;
}

.info-left > img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}



.info-right {
  display: flex;
  flex-direction: column;
}
.info-right h4 {
  font-size: 16px;
  font-family: 'Robot',sans-serif;
  font-weight: 500;
  margin-bottom: 6px;
  line-height: 1.3;
}

.info-right p:nth-of-type(1) {
  font-size: 14px;
  font-family: 'Open Sans','Robot',sans-serif;
  margin-bottom: 4px;
  color: #606060;
}
.info-right p:nth-of-type(2) {
  font-size: 14px;
  font-family: 'Robot',sans-serif;
  color: #606060;
}