*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
a{
  color: inherit;
}
body{
  min-height: 100vh;
  background-color: rgb(240,244,255);
}
aside.sidebar{
  background-color: rgb( 22, 26, 45);
  height: 100%;
  width: 85px;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.4s;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 25px 20px;

}

aside.sidebar:hover{
  width: 260px;
}

.sidebar-header{
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 0 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(22, 26, 45,1);
}
.sidebar-header i{
  font-size: 30px;
}
.sidebar-header h2{
  color: white;
  font-size: 18px;

}

h4{
  position: relative;
}
h4 span{
  color: white;
  white-space: nowrap;
}

ul.sidebar-links{
  scrollbar-width: none;
}
ul.sidebar-links::-webkit-scrollbar{
  display: none;
}

ul.sidebar-links{
  overflow-y: auto;
}
ul.sidebar-links a{
  display: flex;
  align-items: center;
  padding: 16px 14px;
  border-radius: 6px;
  color: white;
  gap: 14px;
  margin: 10px 0;
  transition: color 0.2s ease,backdround-color 0.2s ease;
  white-space: nowrap;

}
ul.sidebar-links a:hover{
  background-color: white;
  color: rgb( 22, 26, 45);
}

ul.sidebar-links h4 span{
  opacity: 0;
}
.menu-separator{
  position: absolute;
  top: 50%;
  height: 1px;
  width: 100%;
  background-color: #4f52ba;
  opacity: 1;
  transition-delay: 0.2s;
}
aside.sidebar:hover ul.sidebar-links h4 span{
  opacity: 1;
}
aside.sidebar:hover .menu-separator{
  opacity: 0;
  transition-delay: 0s;
}


div.account{
  background-color: white;
  padding: 10px 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  height: 60px;
}
div.account-left img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  position: relative;
  left: -7px;
}

div.account-right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1.6;
  white-space: nowrap;
}

.material-symbols-outlined{
  font-size: 24px;
  font-variation-settings:
  'FILL' 0,
  'opsz' 60;
}