<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>links-html</title>
  <link rel="stylesheet" href="../css/a.css">
  <link rel="stylesheet" href="../../000-icon-planet/icomoon-solid/style.css">
</head>
<body>
  <div class="a-container">
    <a href="#" class="link link--underline-animate">
      home
    </a>
    <a href="#" class="link link-with-icon link--solid link--round"><i class="icon-qq-brands"></i></a>
    <a href="#" class="link link--underline-static">login</a>
    <a href="#" class="link link-with-icon link--outline link--round"><i class="icon-link"></i></a>
    
  </div>
</body>
</html>