<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Component</title>
    <link rel="stylesheet" href="../css/card.css" />

  </head>
  <body>
    <!-- feature-card -->
    <h2>feature-card</h2>
    <div class="feature-card-container">
      <div class="feature-card">
        <img class="feature-card__img" src="../../021-Finexo/img/s1.png" alt="img">
        <h3 class="feature-card__title">Multi-Currency Wallet</h3>
        <p class="feature-card__text">Store over 100+ cryptocurrencies in one secure wallet. Seamlessly track and manage your digital assets with real-time updates.</p>
        <a class="feature-card__link--light" href="#">Read More</a>
      </div>
      <div class="feature-card">
        <img class="feature-card__img" src="../../021-Finexo/img/s2.png" alt="img">
        <h3>Military-Grade Security</h3>
        <p class="feature-card__text">Your assets are protected by advanced encryption, two-factor authentication, and cold storage technology.</p>
        <a class="feature-card__link--solid" href="#">Read More</a>
      </div>
    </div>

    <!-- video-card -->
     <h2>video-card</h2>
     <div class="video-card-container">
      <div class="video-card">
        <figure class="video-card__thumb-box">
          <img class="video-card__thumbnail" src="../../023-youtube-clone/img/t-2.avif" alt="">
          <span class="video-card__duration">11:00</span>
        </figure>
        <div class="video-card__info">
          <img src="../../023-youtube-clone/img/avatar-2.jpg" alt="" class="video-card__avatar">
          <section class="video-card__info-right">
            <h5 class="video-card__title">I'm 54. If you're in your 30s or 40s watch this.</h5>
            <p class="video-card__author">Thewizardliz</p>
            <p class="video-card__meta">19M views · 4 years ago</p>
          </section>
        </div>
      </div>

      <div class="video-card">
        <figure class="video-card__thumb-box">
          <img class="video-card__thumbnail" src="../../023-youtube-clone/img/t-2.avif" alt="">
          <span class="video-card__duration">11:00</span>
        </figure>
        <div class="video-card__info">
          <img src="../../023-youtube-clone/img/avatar-2.jpg" alt="" class="video-card__avatar">
          <section class="video-card__info-right">
            <h5 class="video-card__title">I'm 54. If you're in your 30s or 40s watch this.</h5>
            <p class="video-card__author">Thewizardliz</p>
            <p class="video-card__meta">19M views · 4 years ago</p>
          </section>
        </div>
      </div>

      <div class="video-card">
        <figure class="video-card__thumb-box">
          <img class="video-card__thumbnail" src="../../023-youtube-clone/img/t-2.avif" alt="">
          <span class="video-card__duration">11:00</span>
        </figure>
        <div class="video-card__info">
          <img src="../../023-youtube-clone/img/avatar-2.jpg" alt="" class="video-card__avatar">
          <section class="video-card__info-right">
            <h5 class="video-card__title">I'm 54. If you're in your 30s or 40s watch this.</h5>
            <p class="video-card__author">Thewizardliz</p>
            <p class="video-card__meta">19M views · 4 years ago</p>
          </section>
        </div>
      </div>

      <div class="video-card">
        <figure class="video-card__thumb-box">
          <img class="video-card__thumbnail" src="../../023-youtube-clone/img/t-2.avif" alt="">
          <span class="video-card__duration">11:00</span>
        </figure>
        <div class="video-card__info">
          <img src="../../023-youtube-clone/img/avatar-2.jpg" alt="" class="video-card__avatar">
          <section class="video-card__info-right">
            <h5 class="video-card__title">I'm 54. If you're in your 30s or 40s watch this.</h5>
            <p class="video-card__author">Thewizardliz</p>
            <p class="video-card__meta">19M views · 4 years ago</p>
          </section>
        </div>
      </div>

      <div class="video-card">
        <figure class="video-card__thumb-box">
          <img class="video-card__thumbnail" src="../../023-youtube-clone/img/t-2.avif" alt="">
          <span class="video-card__duration">11:00</span>
        </figure>
        <div class="video-card__info">
          <img src="../../023-youtube-clone/img/avatar-2.jpg" alt="" class="video-card__avatar">
          <section class="video-card__info-right">
            <h5 class="video-card__title">I'm 54. If you're in your 30s or 40s watch this.</h5>
            <p class="video-card__author">Thewizardliz</p>
            <p class="video-card__meta">19M views · 4 years ago</p>
          </section>
        </div>
      </div>

      <div class="video-card">
        <figure class="video-card__thumb-box">
          <img class="video-card__thumbnail" src="../../023-youtube-clone/img/t-2.avif" alt="">
          <span class="video-card__duration">11:00</span>
        </figure>
        <div class="video-card__info">
          <img src="../../023-youtube-clone/img/avatar-2.jpg" alt="" class="video-card__avatar">
          <section class="video-card__info-right">
            <h5 class="video-card__title">I'm 54. If you're in your 30s or 40s watch this.</h5>
            <p class="video-card__author">Thewizardliz</p>
            <p class="video-card__meta">19M views · 4 years ago</p>
          </section>
        </div>
      </div>

      <div class="video-card">
        <figure class="video-card__thumb-box">
          <img class="video-card__thumbnail" src="../../023-youtube-clone/img/t-2.avif" alt="">
          <span class="video-card__duration">11:00</span>
        </figure>
        <div class="video-card__info">
          <img src="../../023-youtube-clone/img/avatar-2.jpg" alt="" class="video-card__avatar">
          <section class="video-card__info-right">
            <h5 class="video-card__title">I'm 54. If you're in your 30s or 40s watch this.</h5>
            <p class="video-card__author">Thewizardliz</p>
            <p class="video-card__meta">19M views · 4 years ago</p>
          </section>
        </div>
      </div>
     </div>



  </body>
</html>
