/*默认的距离消除掉*/
*{
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.card{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

div.card p{
  color: rgb(92,92,92);
  font-size: 12px;
}
img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;/*这个图片刚好是正方形的，所以不用调整*/
}

div.card button{
  color: white;
  padding: 7px 12px ;
  border: none;
  border-radius: 8px;
  background-color: rgb(47, 95, 188);
  font-weight: bold;
  transition: all 0.2s /*变化时长，变得更丝滑了*/;
}
div.card button:hover{
  opacity: 0.8;
}
div.card button:active{
  background-color: white;
  color: rgb(47, 95, 188);
}


/*结构拆分
1.body来个宽高，直接flex布局，（控制卡片位置）

2.card里面flex布局，竖直方向，间距用gap粗调一下，再根据情况用margin微调

3.图片用object-fit和object-position调整

4.button主要用padding调节尺寸，然后hover和active设置交互效果
  opacity和颜色交换
  transition设置丝滑过渡
    transition：变化属性 变换时间 时间函数 延迟时间 
  PDTD property-duration-timefunction-delay
  一个属性之间的简写之间用空格，多个属性之间要用逗号分开
*/