
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scrollbar-width: none;/*firefox专属*/
  -ms-overflow-style: none;/*IE和旧Edge专属*/
}

html::-webkit-scrollbar{
  display: none;/*chrome和safari专属*/
}

body{
  background-image: url('src/background-body.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-bottom: 100px;
}


header{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0 30px;
}
header .avatar{
  position: relative;
}
.avatar::before{
  content: 'longshun';
  position: absolute;
  top: 100%;
  left: 50%;
  color: white;
  transform: translate(-50%,-10%);
  text-shadow: 3px 2px 2px rgba(0,0,0,0.8);
}

header img{
  width: 50px;
  height: 50px;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  /*这里居中不用margin： 0 auto 的原因是这玩意儿只对纯粹的block元素（且具有明确宽度）生效，对inline或者inline-block不生效*/
}


td{
  padding: 15px 40px;
  border: 1px solid rgba(0,0,0,0.3);
  /*border的简写推荐的逻辑顺序：
  width style color
  */
}

table{
  border-collapse: collapse;
  /*这里让表格的边框坍缩实现视觉效果的另一种解法是：*/
  /*
  border-spacing:0;
  border-collapse:separator;
  border:0.5px (变为原来的一半)
  */
  margin: 0 auto;
  text-align: center;
  background-color: rgb(255, 240, 229);
}

tbody{
  background-size: cover;
  color: rgb(97, 67, 38);
  font-family: 'Work Sans',serif;
  font-size: 20px;
  font-style: italic;
}

thead,tfoot{
  background-image: url('src/background-form.jpg');
  background-size: cover;
  background-position: center;
  /*这两个属性设置当背景图片大小不适配时，最终的展示效果，和img的object属性类似*/
  color: rgb(55, 65, 81);
}

thead{
  height: 70px;
  font-family: 'Long Cang',serif;
  font-size: 50px;
  font-weight: bold;
}
tfoot{
  height: 80px;
  font-family: 'Zhi Mang Xing',serif;
  font-size: 60px;
}



/*结构拆分
1.首先头部是个header，因为要创建伪类，而img不能创建伪类，所以必须来个东西包裹住头像。
  利用transform

















*/