@font-face {
  font-family: 'Open Sans';
  src: url('../../000-font/english/open-sans/OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../../000-font/english/open-sans/OpenSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../../000-font/english/open-sans/OpenSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../../000-font/english/work-sans/WorkSans-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans';
  src: url('../../000-font/english/work-sans/WorkSans-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans';
  src: url('../../000-font/english/work-sans/WorkSans-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}